#miModal{
    background-color: rgba(0,0,0, 0.5) !important;
}
.btn-login{
    background-color: #e6516b;
    color: white;
    margin-top: 1%;
}
.btn-login:hover {
            background-color: #e67171;
            color: white;
        }
h1{
    margin-bottom: 3%;
}
.titulo-agregar{
    text-align: center;
}
.delete-user{
    color: red;
    font-size: 20px;
    cursor: pointer;
}
.close-sesion{
    font-size: 20px;
}
ul li{
    border: 2px solid #e9ecef;
    list-style: none;
    padding: 5px;
    color: rgb(172 163 163);
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.delete {
    cursor: pointer;
}
.editar{
    cursor: pointer;
}
/* .operacion{
    float: right;
} */

ul{
    padding-left: 7rem;
    padding-right: 7rem;
}