#miModal{
    background-color: rgba(0,0,0, 0.5) !important;
}
.btn-login{
    background-color: #fd5e8d;
    color: white;
    margin-top: 1%;
}
.btn-login:hover {
            background-color: #e67171;
            color: white;
        }
h1{
    margin-bottom: 3%;
}
.titulo-agregar{
    text-align: center;
}
.delete-user{
    color: red;
    font-size: 20px;
    cursor: pointer;
}
.close-sesion{
    font-size: 20px;
}
ul li{
    border: 2px solid #e9ecef;
    list-style: none;
    padding: 5px;
    color: rgb(172 163 163);
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.delete {
    cursor: pointer;
}
.editar{
    cursor: pointer;
}
/* .operacion{
    float: right;
} */

ul{
    padding-left: 7rem;
    padding-right: 7rem;
}
.imagen{
    width: 25%;
}
.nav{
    background-color: #578a80 !important;
}
/* .fondo {
    background: url('/src/assets/img/fondo1.jpg') no-repeat center bottom;
    background-size: cover;
      width: 100%;
      height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      text-align: center;
      padding-top: 11vh;
}*/
.fondo {
      /* padding: 20px;
      width: 100%; 
      margin: 10px 0;
      width: fit-content;
      font-weight: bold;
      font-size: 10vh !important; */
      text-align: center;
      padding-top: 15%;
} 
.textWelcome{
    color: #fd5e8d;
    font-family: serif;
}
.link{
    color: #83d8c7;
    font-weight: 600;
    font-size: 20px;
}